<a href="https://colab.research.google.com/github/miranda15104/THC/blob/main/TAREAS_CLASE_10_OCTUBRE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thisdict={
    "brand": "Ford",
    "model":"Mustang",
    "year":1964,
    "year":2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [2]:
diccionario={"python":2.7, "zope":2.13, "plone":5.7}
l=[]
for i in diccionario.keys():
  print(i)
  l.append(diccionario[i])
print(l)

python
zope
plone
[2.7, 2.13, 5.7]

In [3]:
import pandas as pd
#crear un diccionario con datos
datos={
    "nombre":["juan","maria","pedro", "Luisa"],
    "edad":[25,28,22,30],
    "ciudad":["madrid", "barcelon","valencis", "sevilla"]
}
#crear un DatFrama a partir del diccionario
dataframe = pd.DataFrame(datos)

#mostrar el Data Frame
print(dataframe)

  nombre  edad    ciudad
0   juan    25    madrid
1  maria    28  barcelon
2  pedro    22  valencis
3  Luisa    30   sevilla

In [4]:
frutas=("manzanas","uvas","duraznos","cerezas")
for fruta in frutas:
  print(fruta)

manzanas
uvas
duraznos
cerezas

In [5]:
frutas=("manzanas","uvas","duraznos","cerezas")
if"manzanas" in frutas:
  print("si, las manzanas está en la tupla.")

si, las manzanas está en la tupla.

In [6]:
def miFuncion():
  print("Hola, te saludo desde la funcion")
miFuncion()

Hola, te saludo desde la funcion

In [7]:
def miFuncionNueva(fname):
  print("Hola " +fname+" te saludo desde la funcion")

miFuncionNueva("Miranda")

Hola Miranda te saludo desde la funcion

In [8]:
def Nombre(fname,lname):
 print("Hola " +fname+" "+lname+" te saludo desde la función")
Nombre("Miranda", "CC")

Hola Miranda CC te saludo desde la función

In [9]:
def miFuncion (*kids):
  print("el niño menor es "+kids[3])
miFuncion("Josue", "Daniel", "Marco", "Isacc")

el niño menor es Isacc

In [10]:
def miFuncion (niño3,niño2,niño1):
  print("El niño menor es "+niño3)
miFuncion(niño1="Josue", niño2="Daniel", niño3="Marco")

El niño menor es Marco

In [11]:
A=(0,1,2,3,4)
B=(0,1,2,3,4,)
def suma_vectores(A, B):
  if len(A)==len(B):
   n=len(A)
   C=n*[0.0]
   for i in range(n):
    C[i]=A[i]+B[i]
   print(C)
  else:
    print("no se suman")
suma_vectores(A,B)

[0, 2, 4, 6, 8]